<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jx.xztongcheng">

    <uses-permission android:name="com.jxxx.workerutils.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission android:name="android.permission.DELETE_PACKAGES" />

    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- 安卓6蓝牙权限，必须打开定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.activity.StasisPartActivity"></activity>
        <activity android:name=".ui.activity.WebViewWithBackActivity" />
        <activity android:name=".ui.activity.MultiExpressActivity" />
        <activity android:name=".ui.activity.BindingSiteActivity" />
        <activity android:name=".ui.activity.MyQrCodeActivity" />
        <activity android:name=".ui.activity.ChangePwdActivity" />
        <activity android:name=".ui.activity.PayForImageActivity" />
        <activity android:name=".ui.activity.PayBZJActivity" />
        <activity android:name=".ui.activity.ChangePhoneActivity" />
        <activity android:name=".ui.activity.ToolRkListActivity" />
        <activity android:name=".ui.activity.ToolCkListActivity" />
        <activity android:name=".ui.activity.ToolCarListActivity" />
        <activity android:name=".ui.activity.NameAuthenticationActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity
            android:name=".ui.activity.GetNewOrderActivity"
            android:theme="@style/ActivityTranslucent" />
        <activity android:name=".ui.activity.MyInfoActivity" />
        <activity android:name=".ui.activity.ExpressDetailActivity" />

        <service android:name=".MapService" />
        <service android:name="com.amap.api.location.APSService" /> <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <activity android:name=".ui.activity.ExpressManageActivity" />
        <activity android:name=".ui.activity.ToolMdListActivity" />
        <activity android:name=".ui.activity.print.ToolMdDetailsActivity" />
        <activity android:name=".ui.activity.AddBankCardActivity" />
        <activity android:name=".ui.activity.BankCardManageActivity" />
        <activity android:name=".ui.activity.DepositLogActivity" />
        <activity android:name=".ui.activity.DepositActivity" />
        <activity android:name=".ui.activity.MyWalletActivity" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity
            android:name=".ui.activity.print.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.StartingWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>